@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  box-sizing:content-box;
  border: 10px solid $grey-light;
  width: 500px;
}

.card-header {
  padding: 25px 5px 20px 25px;
  background-color: $light;
}

 
.content {
  padding:30px 25px;
}
